:root{
    --primary-color:#28136B;
    --secondary-color:#253992;
    --tertiary-color:#8A348C;
    --flat-color: #E5E5E5;
    --accent-color:#64D5FF;
}

.primary {
    background: var(--flat-color);
    padding: 4vw;
    margin: 10px;
    transition: 1s;
    border-radius: 20px;
    box-shadow: 10px 5px 10px black;
}

.fade-out {
    translate: 5vw;
    opacity: 0;
}