:root{
    --primary-color:#A2C5AC;
    --secondary-color:#9DB5B2;
    --tertiary-color:#878E99;
    --flat-color: #D3D5D4;
    --accent-color:#7F6A93;
}

body {
    display: flex;
    justify-content: center;
}

.ItemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    background-color: var(--flat-color);
    justify-content: center;
}