:root{
    --primary-color:#28136B;
    --secondary-color:#253992;
    --tertiary-color:#8A348C;
    --flat-color: #E5E5E5;
    --accent-color:#64D5FF;
}

.ItemCard{
    display: flex;
    flex-direction: column;
    flex-basis: 15vw;
    background-color: White;
    height: 40vh;
    padding: 15px;
    margin: 15px;
    align-items: center;
    overflow:hidden;
    outline: solid black 1px;
    box-shadow: 0 0 .6em .1em black;
    border-radius: 2px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(300px);
    }

    to {
        opacity: 1;
    }
}

.ItemPicture {
    object-fit: cover;
    max-height: 7rem;
    max-width: inherit;
    transition-duration: .5s;
}
    .ItemPicture:hover {
        max-height: 100%;
    }

.ItemName {
    font-weight: bolder;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    transition: linear .2s
}
    .ItemName:hover {
        overflow: visible;
        cursor: default;
    }

.ItemPrice{
    color: var(--tertiary-color)
}

.BuyNow {
    all: unset;
    background-color: var(--primary-color);
    color: white;
    font-weight: bolder;
    padding: 0.5vh .5vw;
    border-radius: 20px;
    outline: solid 1px black;
    transition: ease .2s;
}
    .BuyNow:hover{
        cursor: pointer;
        outline-offset: 3px;
    }
    
    .BuyNow-link {
        text-decoration: none;
    }