:root{
    --primary-color:#A2C5AC;
    --secondary-color:#9DB5B2;
    --tertiary-color:#878E99;
    --flat-color: #D3D5D4;
    --accent-color:#7F6A93;
}

.ItemCard{
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    outline: solid var(--accent-color) 1px;
    box-shadow: 0 0 .6em .1em var(--tertiary-color);
    padding: 15px;
    margin: 15px;
    border-radius: 2px;
    align-items: center;;
    background-color: White;
    height: 30vh;
}

.ItemPicture {
    object-fit: cover;
    max-height: 7rem;
    max-width: inherit;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.ItemName {

}

.ItemPrice{
    color: var(--tertiary-color)
}

.BuyNow {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 10%;
    height: 4vh;
    width: 4vw;
    border: solid 1px var(--secondary-color);
    box-shadow: 1px 1px .2em .2em var(--tertiary-color);
}