:root{
    --primary-color:#28136B;
    --secondary-color:#253992;
    --tertiary-color:#8A348C;
    --flat-color: #E5E5E5;
    --accent-color:#64D5FF;
}

body {
    background: linear-gradient(to bottom right,#28136B 40%, #253992 80%);
    background-size:150% 100%;
    animation: gradient ease 10s infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
    100%{
		background-position: 0% 50%;
	}
}

.div-container {
    /* display: flex; */
    margin: 0 auto;
    width: 80vw
}

.ItemContainer {
    vertical-align: top;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 93vh;
    justify-content: center;
}