:root{
    --primary-color:#28136B;
    --secondary-color:#253992;
    --tertiary-color:#8A348C;
    --flat-color: #E5E5E5;
    --accent-color:#64D5FF;
}

nav {
    background: var(--flat-color);
    color: var(--accent-color);
    display: flex;
    width: 100vw;
    transition: 1s;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    padding: 2vh .5vw;
    min-width: 3vw;
    text-align: center;
    background-color: var(--flat-color)
}
    nav > ul > li:hover{
        outline: 1px solid var(--primary-color);
        background-color: #D5D5D5;
    }

li > a {
    height: 100%;
    text-decoration: none;
}