:root{
    --primary-color:#28136B;
    --secondary-color:#253992;
    --tertiary-color:#8A348C;
    --flat-color: #E5E5E5;
    --accent-color:#64D5FF;
}

nav {
    display: flex;
    justify-content: space-between;
    background: var(--flat-color);
    color: var(--accent-color);
    width: 100vw;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2px;
}

li {
    display: block;
    padding: 2vh .5vw;
    min-width: 4vw;
    text-align: center;
    background-color: var(--flat-color);
    position: relative;
}
    nav > ul > li:hover{
        outline: 1px solid var(--primary-color);
        background-color: #D5D5D5;
    }

li > a {
    height: 100%;
    text-decoration: none;
}

#right-nav {
    padding-right: 20px;
}