:root{
  --primary-color:#28136B;
  --secondary-color:#253992;
  --tertiary-color:#8A348C;
  --flat-color: #E5E5E5;
  --accent-color:#64D5FF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  overflow: overlay;
  background: linear-gradient(to bottom right,var(--primary-color) 40%, var(--secondary-color) 80%);
  background-size:150% 100%;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width:15px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, .7);
  border-radius: 6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-container {
  display: flex;
  width: 80vw;justify-content: center;
}

.flex {
  display: flex
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center-all {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center-hor {
  justify-content: center;
}